<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.toshiba.tesisparte1" >

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.toshiba.restaurantapp.principal"
            >

        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.categorias"
            android:label="@string/title_activity_categorias" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.bebidas"
            android:label="@string/title_activity_bebidas" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.porciones"
            android:label="@string/title_activity_porciones" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.parrillada"
            android:label="@string/title_activity_parrillada" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.mariscos"
            android:label="@string/title_activity_mariscos" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.ControlMenu"
            android:label="@string/title_activity_control_menu" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.administrador"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.toshiba.restaurantapp.Carrito"
            android:label="@string/title_activity_carrilto" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.RegistroSms"
            android:label="@string/title_activity_registro_sms" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.Acerca"
            android:label="@string/title_activity_acerca" >
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.ListadoFinal"
            android:label="@string/title_activity_listado_final"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name="com.example.toshiba.restaurantapp.Notas"
            android:label="@string/title_activity_notas" >
        </activity>

        <activity
            android:name="com.example.toshiba.restaurantapp.Pedido"
            android:label="@string/title_activity_pedido" >
        </activity>
    </application>

</manifest>
